
.container-form {
    max-width: 800px;
    margin: 0 auto;
    margin-top: 8%;
    margin-bottom: 50px !important;
    padding: 40px;
    /* background:#202020; */
    background: rgba(63, 63, 63, 0.4);
    box-shadow: 0 15px 25px rgba(48, 48, 48, 0.5);
    color: #febf12;
    border-radius: 10px;
    
    
    
  }
  
  h1 {
    text-align: center;
    font-family: 'Indie Flower', cursive;
    font-size: 3rem;
    
  }
  
   h3 {
    font-family: 'Indie Flower', cursive;
  }
  
  .logo-form  span {
    color: #febf12;
  }
  
  /* form {
    margin-bottom: 20px;
  } */
  
  .form-group {
    margin-bottom: 10px;
  }
  
  label {
    display: block;
    font-weight: bold;
    font-family: 'Philosopher', sans-serif;
    margin-top: 10px;
    font-size: 1.5rem;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    border-radius: 20px;
    background: #ecf0f3;
    box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #ffffff;
   
  
  }
  
  button {
    padding: 10px 25px ;
    color: #febf12;
    background-color: #333;
    cursor: pointer;
    border-radius: 23px 0 23px 0!important;
    font-family: 'Aclonica', sans-serif;
    transition:all ease 1s;
    background-size: 400% 400%;
    background-position: 0 0;
    font-weight: bold;
    font-size: 2rem!important;
  }
  

  button:hover{
    
      border-radius: 0 23px 0 23px!important;
      background-position: 100% 50%;
      
  }