/* .footer {
    background-color: #272727;
    color: #fff;
    padding: 20px;
    box-shadow: inset 0 -5px 5px -5px #333;
  }
  
  .footer-content {
    max-width: 960px;
    margin: 0 auto;
    text-align: center;
    font-family: 'Aclonica', sans-serif;
  }
  
  @media screen and (max-width: 768px) {
    .footer-content {
      max-width: 100%;
      padding: 0 20px;
    }
  }
   */